<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818407420444-uqnlhpasspfc785occv02h98se64vts4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818407420444-uqnlhpasspfc785occv02h98se64vts4</string>
	<key>API_KEY</key>
	<string>AIzaSyBtUQogA6VuyxbKUb8isS0h11knQx3Lpak</string>
	<key>GCM_SENDER_ID</key>
	<string>818407420444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.changhao.song.Academix</string>
	<key>PROJECT_ID</key>
	<string>academix-c3fca</string>
	<key>STORAGE_BUCKET</key>
	<string>academix-c3fca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818407420444:ios:1015b327ffdd58c8bee5d9</string>
</dict>
</plist>